.panel-pt-primary{
	border: solid 2px #2a3f54;
	padding: 30px;
}
.btn-pt-primary{
	border: solid 2px #2a3f54;
	background:  #2a3f54;
	color:white;
}

.btn-pt-primary:hover{
	border: solid 2px #2a3f54;
	color: #2a3f54;
	background: white;
}

.btn-pt-primary:active{
	background:  #2a3f54;
	color:white;
}
.btn-pt-primary:focus{
	background:  #2a3f54;
	color:white;
}

.alert-pt-primary{
	background:  #2a3f54;
	color:white; 
}
th.th-pt{
	text-align: center !important;
	vertical-align: middle !important;
	background-color:  #2a3f54 !important;
	color:white !important; 	
}
.modal-body{
	font-size: 120%;
	padding-top: 0px !important;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

 
input[type=text]:focus,input[type=email]:focus, input[type=date]:focus,input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 5px  rgba(51, 102, 255, 1) !important;
	-moz-box-shadow:    0px 0px 5px  rgba(51, 102, 255, 1) !important;
	box-shadow:         0px 0px 5px  rgba(51, 102, 255, 1) !important;
}

select:focus, textarea:focus{
	border: solid  2px  rgba(51, 102, 255, 0.4) !important;
}




/* Switch similar a los de ios*/

.checkVisible { /* :root here acting as a filter for older browsers */
	position: absolute;
	opacity: 0.5;
}
:root input[type="checkbox"] { /* :root here acting as a filter for older browsers */
	position: absolute;
	opacity: 0;
}

:root input[type="checkbox"].ios-switch + div {

	display: inline-block;
	vertical-align: middle;
	width: 2em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 33%, 40%) 50%, transparent 70%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 150%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
	padding-left: 1em;	width: 2em;
	background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
	content: '';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
	background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(0,0,255,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
	content: '';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;

}








