.panel-pt-primary{
	border: solid 2px #2a3f54;
	padding: 30px;
}
.btn-pt-primary{
	border: solid 2px #2a3f54;
	background:  #2a3f54;
	color:white;
}

.btn-pt-primary:hover{
	border: solid 2px #2a3f54;
	color: #2a3f54;
	background: white;
}

.btn-pt-primary:active{
	background:  #2a3f54;
	color:white;
}
.btn-pt-primary:focus{
	background:  #2a3f54;
	color:white;
}

.alert-pt-primary{
	background:  #2a3f54;
	color:white; 
}
th.th-pt{
	background-color:  #2a3f54 !important;
	color:white !important; 	
}
.modal-body{
	font-size: 120%;
	padding-top: 0px !important;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

 
input[type=text]:focus,input[type=email]:focus, input[type=date]:focus,input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 5px  rgba(51, 102, 255, 1) !important;
	-moz-box-shadow:    0px 0px 5px  rgba(51, 102, 255, 1) !important;
	box-shadow:         0px 0px 5px  rgba(51, 102, 255, 1) !important;
}

select:focus, textarea:focus{
	border: solid  2px  rgba(51, 102, 255, 0.4) !important;
}


